body {
  margin-top: 0;
}
  
  #root {
    position: relative;
  }
  
  .content {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté delante del canvas */
    padding: 20px;
    color: white; /* Ajusta según tu diseño */
  }
  